%h1 RollingRead &ndash; Cascading contents

.semesters
  - if @ordered_semesters.empty?
    %h3 You don't have any semesters!
  - else
    - @ordered_semesters.each do |semester|
      %span.smurf Semester:
      %span.frums= semester.short_semester
      %span.smurf Descript.:
      %span.frums= semester.full_semester
      %span.smurf Start:
      %span.frums= semester.start_date
      %span.smurf End:
      %span.frums= semester.end_date
      = link_to('Add course', course_in_semester_path(semester.id), :rel=>"external")
      .courses
        - @these_courses_array.nil? ? '' : @these_courses_array.clear
        - @these_courses_hash = @grouped_courses.select{|s,c| s == semester.id }
        - if @these_courses_hash.empty?
          %h3 You don't have any courses in this semester!
        - else
          - @these_courses_hash.each_value{|these_courses| @these_courses_array = these_courses}
          - @these_courses_array.each do |course|
            %span.smurf Course Number
            %span.frums= course.course_number
            %span.smurf Abbrev.
            %span.frums= course.short_course
            %span.smurf Title
            %span.frums= course.full_course
            = link_to 'Add source', source_in_course_path(course.id)
            - if !@grouped_sources.empty?
              = link_to('Add assignments', assignment_for_course_path(course.id, flip: true), :rel=>"external")
            .sources
              - @these_sources_array.nil? ? '' : @these_sources_array.clear
              - @these_sources_hash = @grouped_sources.select{|s,c| s == course.id }
              - if @these_sources_hash.empty?
                %h3 You don't have any sources for this course!
              - else
                - @these_sources_hash.each_value{|these_sources| @these_sources_array = these_sources}
                - @these_sources_array.each do |source|
                  %span.smurf  Source:
                  %span.frums= source.short_source
                  %span.smurf  Details
                  %span.frums= source.source_details
                  %p

= link_to 'Add new semester', semester_in_user_path(session[:user_id])

= link_to('Go home', '/', :rel=>"external")
